@import './variables';
@import './libs/normalize';
@import './components/all';
.container{
  max-width: 956px;
  margin: 0 auto;
}
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  flex: 1;
}
