@import './variables';
@import './libs/normalize';
@import './components/all';

.container {
  max-width: 926px;
  margin: 0 auto;
  padding: 0 15px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  flex: 1;
}

.title {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  /* identical to box height */

  text-align: center;
  letter-spacing: -0.02em;

  /* Roxo escuro */

  color: #2B0955;
  position: relative;
  padding-bottom: 19px;
  &::after{
    content: '';
    position: absolute;
    height: 3px;
    background-color: #FBC508;
    width: 90px;
    transform: translate(-50%, -50%);
    bottom: 0;
    left: 50%;
  }
margin-bottom: 16px;
}
.text{
  font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
letter-spacing: -0.02em;

/* Cinza escuro */

color: #363636;
}
.fixed{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10
}
.active{
  height: 78.16px;
}